a:link{
    color: inherit;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: inherit;
}

.text-block {
    margin-left: 20px;
}

.extra-info {
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    margin-right: 20px;
}
@media screen and (min-width:  992px) {
    .flex-large{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:  992px) {
    .flex-large{
        display: inherit;
    }
}